* {
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: Helvetica,sans-serif;
}
ul{
	margin: 5px 0 0 0;
	padding: 0;
}
li{
	list-style: none;
	font-size: 10px;
	margin-bottom: 2px;
}
p{
	margin: 5px 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #2677B9;
}
h3{
	margin: 10px 0 0 0px;
	font-size: 15px;
}
.mono{
	font-family: courier, monospace;
	background-color: #F8F8F8;
	border: 1px solid #DDD;
	border-radius: 3px;
	padding: 0 2px;
}
#splash{
	position: absolute;
	left: 35%;
	top: 100px;
	width: 500px;
	background-color: #fff;
	border: 1px solid #666;
	padding: 10px;
	line-height: 18px;
	box-shadow: 0 0 12px #ccc;
}
#splash p{
	font-size: 13px;
}
.close-parent{
	position: absolute;
	top: 5px;
	right: 8px;
	text-transform: uppercase;
	font-size: 10px;
}
.close-parent:hover{
	cursor: pointer;
	text-decoration: underline;
}
label{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
a:hover{
	text-decoration: underline;
}
#map-canvas{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.gmnoprint,canvas,#furniture{
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}
.gmnoprint.hidden, canvas.hidden, #furniture.hidden{
	opacity: 0;
}
#furniture{
	padding: 5px;
	position: absolute;
	background-color: #fff;
	top: 11px;
	left: 30px;
	border: 1px solid #ccc;
}
#style-input{
	height: 130px;
}
#geojson-style-input{
	height: 90px;
}
input, textarea{
	width: 225px;
}
#address-search input{
	display: inline;
}
#address-search input[type="text"]{
	width: 80%;
}
#address-search input[type="submit"]{
	width: 15%;
}
#address-search input[type="submit"].searching{
	animation: spin-around 1s infinite linear;
	-webkit-animation: spin-around 1s infinite linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes spin-around {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Standard syntax */
@keyframes spin-around
{
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} 
textarea,input{
	display: block;
	margin-top: 5px;
}
#advanced-inputs{
	display: none;
}
#advanced-toggle{
	font-size: 10px;
	margin: 5px 0;
	color: #2677B9;
}
#advanced-toggle:hover{
	text-decoration: underline;
	cursor: pointer;
}
